* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: url('./img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	max-height: 100vh;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

/*add a dark overlay*/
body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;

}

body * {
	z-index: 1;
}

h1 {
	font-size: 8vw;
	position: relative;
	top: 5%;
	display: none;
}

.year {
	font-size: 15vw;
	z-index: -1;
	opacity: 0.2;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.countdown {
	display: none;
	transform: scale(2);
	display: flex;
	position: absolute;
	top: 40%;
}

.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px;
	font-size: 2vw;
}

.time h2 {
	margin: 0 0 5px;
}

.btn-container {
	display: none;
	position: absolute;
	bottom: 5%;
}

.button,
.button2 {
	/*margin-top: 270px;*/
	margin: 10px;
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 20px;
	background: none;
	color: white;
	border: 1px solid white;


}

.button:hover,
.button2:hover {
	color: black;
	/* background: none; */
	background: white;
	border: 1px solid white;
}

.quote-area {
	position: absolute;
	text-align: center;
	z-index: 999999;
	color: white;
	box-sizing: border-box;
	left: 50%;
	bottom: 25%;
	transform: translateX(-50%);
	margin-top: 110px;
	font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: 1px;
}

.year {
	display: none;
}


@media (max-width: 500px) {
	body {
		background: url('./img/background.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100vh;
		max-height: 100vh;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0;
		overflow: hidden;
	}

	/*add a dark overlay*/
	body::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		overflow: hidden;

	}

	.countdown {
		display: none;
		transform: scale(2);
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 25%;
	}

	.quote-area {
		position: absolute;
		text-align: center;
		z-index: 999999;
		color: white;
		box-sizing: border-box;
		left: 50%;
		bottom: 21%;
		transform: translateX(-50%);
		margin-top: 110px;
		font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		letter-spacing: 1px;
	}

	.year {
		font-size: 15vw;
		z-index: -1;
		opacity: 0.2;
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translateX(-50%);
	}

	.time {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 5px;
		font-size: 2vw;
	}
}
